@import "colors";

$fonte-primaria: monospace;
$gutter: 60px;

@import "buttons";

@mixin title-large{
    font-size: 4em;
    font-weight: bold;
    font-family: monospace;
    line-height: 1;
}

@mixin border-box{
    box-sizing: border-box;
    -moz-box-sizing: border-bor;
    -webkit-box-sizing: border-bor;
}

@mixin separador($color: blue, $largura: 100px){
    &::after{
        content: '';
        display: block;
        width: $largura;
        height: 4px;
        background: $color;
    }
}

@mixin text-shadow($shadow...){ /* Aceita vários argumentos p/ o mms parâmetro */
    box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
}

@mixin mobile{
    @media (max-width: 600px){
        @content;
    }
}

section {
	max-width: 600px;
	margin: 0 auto;
    @include border-box;
}

.modal{
    @include text-shadow(4px 4px 2px rgba(150, 150, 150, 1), 
                        10px 10px 1px rgba(100, 100, 100, 1), 
                        15px 15px 9px rgba(200, 200, 200, .9));
    h1.titulo{
        color: $cor-primaria;
        font-family: $fonte-primaria;
        margin-bottom: $gutter;
        @include title-large;
        @include separador(green, 200px);
        @include mobile{
            color: pink;
            font-size: 2em;
        }
    }

    p {
        font: {
            size: 1.2em;
            family: $fonte-primaria;
            style: italic;
        }
        line-height: 1.4;
        max-width: 400px;
        @include mobile{
            font-size: .6em;
        }
    }
    
    .test{
        background: $preto;
        height: 200px;
        width: 500px;
        a{
            color: pink;
            background: blue;
        }
    }

    a {
        display: block;
        max-width: 120px;
        padding: 10px;
        border-radius: 4px;
        text-align: center;
        background: $cor-primaria;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-family: $fonte-primaria;
    }
}

/* Nesting (ou alinhamento) */

ul{
    text-align: center;
    li{
        display: inline-block;
        list-style: none;
        a{
            display: block;
            padding: 20px;
            text-decoration: none;
            background: blue;
            color: white;
            border-radius: 2px;
            .active &{
                background: blue;
            }
            &:hover{
                background: pink;
            }
        }
    }
}